@use 'variables' as*;
@use 'mixins' as*;

.formulario-aerobus {
   
    background-color: #ffffff; 
    padding: 2rem;
    border-radius: 8px;
    @include sombra-caja; /* Usamos tu mixin para la sombra! */

    label {
        font-weight: 600;
    }

    .form-control {
        border: 1px solid #ced4da;
        
        &:focus {
            border-color: $color-secundario; 
            
            box-shadow: 0 0 0 0.25rem rgba(255, 152, 0, 0.25); 
            
            outline: 0;
        }
    }
}